.admin-header{
    padding: 10px 0;
    background-color: #fff;
    border-bottom: 1px solid gray;
    text-align: center;
}

.admin-header img{
    margin-bottom: 50px;
}

.admin-header nav{
    padding: 0 10px;
    width: 50%;
    margin: auto;
    display:flex;
    justify-content: space-between;
}

.admin-header button{
    width: 140px;
}

@media screen and (max-width: 700px){
    .admin-header nav{
        width: 100%;
        flex-direction: column;
    }
    .admin-header button{
        width: 120px;
    }
}
